.todoListMain .header input {
  padding: 13px;
  font-size: 20px;
  border: 1px solid #000;
  width: 160px;

  }

  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    text-align: center
  } 
  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
   
    transition: background-color .2s ease-out;
  }
   
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }

  button {
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
    background-color: #F4595B;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
  }

  button:hover {
    background-color: #FF7375;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
  }

  button:active {
    background-color: #C24648;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: #CCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
  }

